<!DOCTYPE html>
<html>

	<head>

		<title> Passwort zurücksetzen - SimpleModule </title>

		<link rel="stylesheet" href="/css/login.css">
		<link rel="stylesheet" href="/css/login_<%- appearance %>.css">
		<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
		<link href="/css/fontawesome/css/all.min.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	</head>


	<body>

		<div id="alert"></div>

		<div id="background">
			<div id="container">
				<p> <img id="logo" src="/img/logo.png"> SimpleModule </p>

				<div class="content">
					<p> Neues Passwort für <%- name %> </p>
					<input type="password" name="password" placeholder="Neues Passwort">
					<button onclick="resetPassword();"> Ändern </button>
				</div>
			</div>
		</div>

		<script src="/js/scripts/jquery-3.2.1.min.js"></script>
		<script>

			function resetPassword() {
				$.post(window.location.pathname, {
					password: $("#container .content > input[name=password]").val()
				}, status => {
					if(status === "password_length") {
						$("#alert").text("Das Passwort muss mindestens 8 Zeichen lang sein!").css("top", "0");
						$("#container .content > input").addClass("wrong");
					} else if(status === "password_invalid") {
						$("#alert").text("Das Passwort enthält ungültige Zeichen!").css("top", "0");
						$("#container .content > input").addClass("wrong");
					} else {
						$("#alert").css("top", "-100%");
						$("#container .content").html("<p> Das Passwort wurde erfolgreich geändert. </p> <a href=\"/Login/\"> Zur Anmeldung </a>");
					}
				});
			}

			$("#container .content > input").on("input", function() {
				$("#container .content > input").removeClass("wrong");
				$("#alert").css("top", "-100px");
			});

		</script>

	</body>

</html>