<!DOCTYPE html>
<html>

	<head>

		<title> Passwort zurücksetzen - SimpleModule </title>

		<link rel="stylesheet" href="/css/login.css">
		<link rel="stylesheet" href="/css/login_<%- appearance %>.css">
		<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
		<link href="/css/fontawesome/css/all.min.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	</head>


	<body>

		<div id="alert"></div>

		<div id="background">
			<div id="container">
				<p> <img id="logo" src="/img/logo.png"> SimpleModule </p>

				<div class="content">
					<p> Trage deine E-Mail-Adresse ein und wir senden dir einen Link zu, um dein Passwort zurückzusetzen. </p>
					<input name="email" placeholder="E-Mail-Adresse">
					<button onclick="resetPassword();"> Abschicken </button>
				</div>
			</div>
		</div>

		<script src="/js/scripts/jquery-3.2.1.min.js"></script>
		<script>

			function resetPassword() {
				$.post("/ResetPassword/", {
					email: $("#container .content > input[name=email]").val()
				}, status => {
					if(status === "error") {
						$("#alert").text("Die E-Mail-Adresse ist ungültig!").css("top", "0");
						$("#container .content > input").addClass("wrong");
					}

					if(status === "success") {
						$("#alert").css("top", "-100%");
						$("#container .content").html("<p> Die E-Mail wurde erfolgreich verschickt. </p> <a href=\"/Login/\"> Zur Anmeldung </a>");
					}
				});
			}

			$("#container .content > input").on("input", function() {
				$("#container .content > input").removeClass("wrong");
			});

		</script>

	</body>

</html>