<!DOCTYPE html>
<html>

	<head>

		<title> Anmeldung - SimpleModule </title>

		<link rel="stylesheet" href="/css/login.css">
		<link rel="stylesheet" href="/css/login_<%- appearance %>.css">
		<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
		<link href="/css/fontawesome/css/all.min.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	</head>


	<body>

		<div id="container">
			<p> <img id="logo" src="/img/logo.png"> SimpleModule </p>

			<div class="content">
				<p> Dein Account wurde erfolgreich verifiziert. </p>
			</div>
		</div>

	</body>

</html>